Repository Muriel2Horak/core-platform: changes, and which lefthook commands are due for each by the changed paths.
All: naming-lint, frontend-lint, backend-format-check, dashboard-structure

lefthook.yml:

# Lefthook Git Hooks Configuration
# Install: brew install lefthook (or npm i -g @evilmartians/lefthook)
# Setup: lefthook install

pre-commit:
  parallel: true
  commands:
    naming-lint:
      glob: "{backend/src/main/java/**/*.java,backend/src/main/resources/**/*.{sql,yml,yaml},frontend/src/**/*.{ts,tsx}}"
      run: cd tools/naming-lint && npm run lint:all
      fail_text: "❌ Naming convention violations detected. See docs/NAMING_GUIDE.md"
      
    frontend-lint:
      glob: "frontend/src/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && npm run lint --quiet
      fail_text: "❌ Frontend linting failed"
      
    backend-format-check:
      glob: "backend/src/**/*.java"
      run: cd backend && ./mvnw spotless:check -q
      fail_text: "❌ Backend code formatting issues. Run: cd backend && ./mvnw spotless:apply"
      
    dashboard-structure:
      glob: "docker/grafana/provisioning/dashboards/**/*.json"
      run: bash scripts/validate-dashboard-structure.sh
      fail_text: "❌ Dashboard structure validation failed. Move loose JSON files to subdirectories!"

pre-push:
  commands:
    backend-tests:
      run: cd backend && ./mvnw test -Dtest=CubeQueryServiceIT,PresenceNrtIT -q
      fail_text: "❌ Critical tests failed. Fix before pushing!"
      
commit-msg:
  commands:
    conventional:
      run: |
        # Check for conventional commit format: type(scope?): message
        if ! grep -qE "^(feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert)(\(.+\))?: .+" {1}; then
          echo "❌ Commit message must follow Conventional Commits:"
          echo "   feat(scope): description"
          echo "   fix(scope): description"
          echo "   etc."
          exit 1
        fi
      fail_text: "❌ Invalid commit message format"

skip_output:
  - meta
  - success

docs: Grafana provisioning - completion report
  GRAFANA_PROVISIONING_COMPLETION_REPORT.md
Due: none

fix(makefile): implement fail-fast mechanism for Docker build errors
  BUILD_FAILURE_ANALYSIS_20251020.md
  MAKEFILE_FAIL_FAST_IMPLEMENTATION.md
  Makefile
  frontend/src/pages/Admin/AxiomMonitoringPage.tsx
Due: naming-lint, frontend-lint

fix(frontend): correct Grafana dashboard UIDs to use Axiom dashboards
  MAKEFILE_BUILD_STREAMING.md
  Makefile
  frontend/src/pages/Admin/AdminAuditPage.tsx
  frontend/src/pages/Admin/AdminSecurityPage.tsx
  frontend/src/pages/Admin/MonitoringComprehensivePage.tsx
  frontend/src/pages/Admin/MonitoringPage.tsx
Due: naming-lint, frontend-lint

refactor(monitoring): Consolidate monitoring pages into single AxiomMonitoringPage
  COMMIT_MSG_FAIL_FAST.txt
  diagnostics/build-20251020-211739-summary.txt
  diagnostics/build-20251020-214501-summary.txt
  diagnostics/build-20251020-215539-summary.txt
  diagnostics/build-20251020-221004-summary.txt
  diagnostics/build-20251021-064106-summary.txt
  diagnostics/build-20251021-070031-summary.txt
  frontend/src/App.jsx
  frontend/src/pages/Admin/AdminAuditPage.tsx
  frontend/src/pages/Admin/AdminSecurityPage.tsx
  frontend/src/pages/Admin/AxiomMonitoringPage.tsx
  frontend/src/pages/Admin/MonitoringComprehensivePage.tsx
  frontend/src/pages/Admin/MonitoringPage.tsx
  frontend/src/pages/Admin/index.ts
  frontend/src/shared/ui/SidebarNav.tsx
Due: naming-lint, frontend-lint

fix(logging): Initialize frontend logger with tenant context + fix Grafana dashboards
  LOGGING_AUDIT_ANALYSIS.md
  backend/src/main/java/cz/muriel/core/tenant/TenantFilter.java
  docker/grafana/provisioning/dashboards/audit/axiom_audit.json
  docker/grafana/provisioning/datasources/loki.yml
  docker/grafana/provisioning/datasources/prometheus.yml
  frontend/src/App.jsx
  frontend/src/components/AuthProvider.jsx
Due: naming-lint, frontend-lint, backend-format-check, dashboard-structure

fix(logging): Apply backend tenant labeling for unauthenticated requests
  backend/src/main/java/cz/muriel/core/tenant/TenantFilter.java
Due: naming-lint, backend-format-check

fix(frontend): Fix TypeScript errors - height prop should be number, not string
  backend/src/main/java/cz/muriel/core/metamodel/filter/FilterParser.java
  diagnostics/build-20251021-100534-summary.txt
  diagnostics/build-20251021-122757-summary.txt
  diagnostics/build-20251021-123610-summary.txt
  diagnostics/build-20251021-123909-summary.txt
  diagnostics/build-20251021-125039-summary.txt
  diagnostics/build-20251021-131507-summary.txt
  diagnostics/build-20251021-141042-summary.txt
  diagnostics/tests/error-summary-20251021-123916.md
  docker/docker-compose.yml
  frontend/src/pages/Admin/MonitoringComprehensivePage.tsx
  frontend/src/pages/Admin/MonitoringPage.tsx
Due: naming-lint, frontend-lint, backend-format-check

fix(frontend): Remove duplicate monitoring pages - use only AxiomMonitoringPage
  diagnostics/build-20251021-141644-summary.txt
  diagnostics/tests/error-summary-20251021-141645.md
  frontend/src/pages/Admin/MonitoringComprehensivePage.tsx
  frontend/src/pages/Admin/MonitoringPage.tsx
Due: naming-lint, frontend-lint

fix(docker-compose): Add GF_PATHS_PROVISIONING + disable Loki driver
  diagnostics/build-20251021-155513-summary.txt
  docker/docker-compose.yml
  frontend/src/pages/Admin/MonitoringComprehensivePage.tsx
  frontend/src/pages/Admin/MonitoringPage.tsx
Due: naming-lint, frontend-lint

fix(grafana): Load tenants dynamically from database instead of hardcoded list
  docker/docker-compose.yml
  docker/grafana/provision-tenants.sh
Due: none

fix(docker-compose): Change default tenant from test-tenant to admin
  docker/docker-compose.yml
Due: none

feat(streaming): Add /metrics endpoint + reduce frontend logging verbosity
  backend/src/main/java/cz/muriel/core/streaming/controller/StreamingAdminController.java
  diagnostics/build-20251021-163116-summary.txt
  docker/grafana/provision-tenants.sh
  frontend/src/services/grafanaSceneDataSource.js
Due: naming-lint, frontend-lint, backend-format-check

fix(grafana): Add X-Grafana-Org-Id to nginx proxy - resolve tenant org switching
  backend/src/main/java/cz/muriel/core/monitoring/AuthRequestController.java
  docker/nginx/nginx.conf
Due: naming-lint, backend-format-check

fix(compilation): Use record accessor orgId() instead of getGrafanaOrgId()
  backend/src/main/java/cz/muriel/core/monitoring/AuthRequestController.java
  backend/src/main/java/cz/muriel/core/streaming/controller/StreamingAdminController.java
  diagnostics/build-20251021-165008-summary.txt
  diagnostics/build-20251021-180843-summary.txt
  diagnostics/tests/error-summary-20251021-180909.md
  diagnostics/tests/error-summary-20251021-181844.md
Due: naming-lint, backend-format-check

feat(grafana): Migrate from SQLite to PostgreSQL + auto-provision JWT users to tenant orgs
  .env
  backend/src/main/java/cz/muriel/core/monitoring/AuthRequestController.java
  backend/src/main/java/cz/muriel/core/monitoring/grafana/GrafanaAdminClient.java
  backend/src/main/java/cz/muriel/core/monitoring/grafana/dto/AddOrgUserRequest.java
  backend/src/main/java/cz/muriel/core/monitoring/grafana/dto/AddOrgUserResponse.java
  backend/src/main/java/cz/muriel/core/monitoring/grafana/dto/OrgUserInfo.java
  diagnostics/build-20251021-181839-summary.txt
  diagnostics/build-20251021-191956-summary.txt
  diagnostics/build-20251021-202114-summary.txt
  diagnostics/build-20251021-210515-summary.txt
  diagnostics/build-20251021-213558-summary.txt
  diagnostics/build-20251021-220107-summary.txt
  docker/.env
  docker/db/init.sql
  docker/db/init/05-databases.sql
  docker/docker-compose.yml
  docker/grafana/grafana.ini
  docker/grafana/provision-tenants.sh
Due: naming-lint, backend-format-check

feat(grafana): Idempotent user provisioning flow (ensure user + org membership + active org)
  backend/src/main/java/cz/muriel/core/monitoring/AuthRequestController.java
  backend/src/main/java/cz/muriel/core/monitoring/grafana/GrafanaAdminClient.java
  backend/src/main/java/cz/muriel/core/monitoring/grafana/dto/CreateUserRequest.java
  backend/src/main/java/cz/muriel/core/monitoring/grafana/dto/CreateUserResponse.java
  backend/src/main/java/cz/muriel/core/monitoring/grafana/dto/SwitchOrgResponse.java
  backend/src/main/java/cz/muriel/core/monitoring/grafana/dto/UserLookupResponse.java
  backend/src/main/java/cz/muriel/core/monitoring/grafana/dto/UserOrgInfo.java
  diagnostics/build-20251021-222647-summary.txt
  docker/nginx/nginx-ssl.conf.template
Due: naming-lint, backend-format-check

feat(grafana): Implement proper orgId resolution from /api/me + cache busting
  backend/src/main/java/cz/muriel/core/controller/UserProfileController.java
  backend/src/main/java/cz/muriel/core/dto/UserDto.java
  backend/src/main/java/cz/muriel/core/monitoring/AuthRequestController.java
  backend/src/main/java/cz/muriel/core/monitoring/grafana/GrafanaAdminClient.java
  backend/src/main/java/cz/muriel/core/monitoring/grafana/dto/CreateUserRequest.java
  backend/src/main/java/cz/muriel/core/monitoring/grafana/dto/CreateUserResponse.java
  backend/src/main/java/cz/muriel/core/monitoring/grafana/dto/SwitchOrgResponse.java
  backend/src/main/java/cz/muriel/core/monitoring/grafana/dto/UserLookupResponse.java
  backend/src/main/java/cz/muriel/core/monitoring/grafana/dto/UserOrgInfo.java
  diagnostics/build-20251021-225616-summary.txt
  diagnostics/build-20251022-063613-summary.txt
  docker/nginx/nginx-ssl.conf.template
  frontend/esbuild.mjs
  frontend/src/components/GrafanaEmbed.tsx
  frontend/src/hooks/useGrafanaOrgId.ts
  frontend/src/utils/grafanaUrl.test.ts
  frontend/src/utils/grafanaUrl.ts
Due: naming-lint, frontend-lint, backend-format-check

fix(grafana): Fix JWT TTL alignment, Org 2 provisioning, and dashboard URLs
  backend/src/main/resources/application.properties
  backend/src/main/resources/db/migration/V6__add_admin_tenant_grafana_binding.sql
  diagnostics/build-20251022-095301-summary.txt
  diagnostics/build-20251022-103137-summary.txt
  diagnostics/build-20251022-104816-summary.txt
  docker/docker-compose.yml
  docker/grafana/Dockerfile
  docker/grafana/provisioning/dashboards/dashboards.yml
  docker/grafana/provisioning/datasources/loki.yml
  docker/grafana/provisioning/datasources/prometheus.yml
  docker/grafana/scripts/entrypoint.sh
  docker/grafana/scripts/init-orgs.sh
  frontend/diagnostics/tests/.test-count-cache
  frontend/src/pages/Admin/AxiomMonitoringPage.tsx
Due: naming-lint, frontend-lint

fix(filter): Fix FilterParser JOOQ type inference issue
  backend/src/main/java/cz/muriel/core/metamodel/filter/FilterParser.java
  diagnostics/build-20251022-121242-summary.txt
  diagnostics/tests/error-summary-20251022-135933.md
Due: naming-lint, backend-format-check

fix(grafana): Remove static Org 2 dashboard provisioning to avoid race condition
  diagnostics/build-20251022-135844-summary.txt
  docker/grafana/provisioning/dashboards/dashboards.yml
Due: none

fix(grafana): Use mintGrafanaJwtFromKeycloakJwt to include orgId claim
  backend/src/main/java/cz/muriel/core/monitoring/AuthRequestController.java
Due: naming-lint, backend-format-check

fix(grafana): Implement BFF as RS256 JWT issuer for multi-realm support
  backend/pom.xml
  backend/src/main/java/cz/muriel/core/monitoring/AuthRequestController.java
  backend/src/main/java/cz/muriel/core/monitoring/GrafanaJwtService.java
  backend/src/main/java/cz/muriel/core/monitoring/jwks/JwksController.java
  backend/src/main/java/cz/muriel/core/monitoring/jwks/JwksKeyProvider.java
  docker/docker-compose.yml
Due: naming-lint, backend-format-check

fix(grafana): Align JWT TTL to 5 minutes across stack
  .env
  backend/src/main/java/cz/muriel/core/monitoring/AuthRequestController.java
  backend/src/main/java/cz/muriel/core/monitoring/GrafanaJwtService.java
  backend/src/main/resources/application.properties
  docker/docker-compose.yml
Due: naming-lint, backend-format-check

fix(grafana): Proxy JWKS endpoint via Nginx HTTPS
  docker/docker-compose.yml
  docker/nginx/nginx-ssl.conf.template
Due: none

feat(grafana): Production-grade JWT SSO with sidecar JWKS refresher
  E2E_LOGS_DOWNLOAD_STATUS.md
  GRAFANA_AUTH_OBSERVABILITY_PLAN.md
  backend/src/main/java/cz/muriel/core/auth/config/SecurityConfig.java
  backend/src/main/java/cz/muriel/core/controller/admin/LogsExportController.java
  backend/src/main/java/cz/muriel/core/monitoring/GrafanaJwtService.java
  backend/src/main/java/cz/muriel/core/monitoring/jwks/JwksController.java
  backend/src/main/java/cz/muriel/core/monitoring/jwks/JwksKeyProvider.java
  cookies.txt
  diagnostics/build-20251022-181931-summary.txt
  docker/docker-compose.yml
  docker/grafana/Dockerfile
  docker/grafana/grafana.ini
  docker/grafana/scripts/entrypoint.sh
  docker/grafana/scripts/fetch-jwks.sh
  docker/nginx/nginx-ssl.conf.template
  docker/nginx/nginx.conf
  e2e/specs/monitoring/dashboard-complete-flow.spec.ts
  e2e/specs/monitoring/jwks-502-test.spec.ts
  e2e/specs/monitoring/logs-export-e2e.spec.ts
  e2e/specs/monitoring/mock-download-test.spec.ts
  e2e/specs/monitoring/simple-download-test.spec.ts
  scripts/monitoring-doctor.sh
  scripts/test-grafana-auth-negative.sh
  scripts/test-grafana-auth.sh
  ssl/cert.pem
  ssl/key.pem
  token.txt
Due: naming-lint, backend-format-check

fix: Grafana SSO + dashboard provisioning + FilterParserTest
  .env
  backend/src/main/java/cz/muriel/core/monitoring/jwks/JwksKeyProvider.java
  backend/src/main/resources/application.properties
  backend/src/test/java/cz/muriel/core/metamodel/filter/FilterParserTest.java
  diagnostics/build-20251023-103127-summary.txt
  diagnostics/tests/error-summary-20251023-103208.md
  docker/docker-compose.yml
  docker/grafana/grafana.ini
  docker/grafana/scripts/entrypoint.sh
Due: naming-lint, backend-format-check

fix: Add Grafana healthcheck and wait for it in nginx
  docker/docker-compose.yml
Due: none

fix: Correct admin tenant Grafana org mapping (1 → 2)
  backend/src/main/java/cz/muriel/core/monitoring/GrafanaTenantRegistry.java
Due: naming-lint, backend-format-check

fix(grafana): Complete Grafana JWT SSO implementation
  backend/src/main/java/cz/muriel/core/auth/config/SecurityConfig.java
  backend/src/main/java/cz/muriel/core/monitoring/GrafanaAuthController.java
  backend/src/main/java/cz/muriel/core/monitoring/GrafanaJwtService.java
  backend/src/main/java/cz/muriel/core/monitoring/GrafanaTenantRegistry.java
  diagnostics/build-20251023-103808-summary.txt
  docker/docker-compose.yml
  docker/grafana/grafana.ini
  docker/nginx/nginx-ssl.conf.template
Due: naming-lint, backend-format-check

fix(grafana-sso): Fix nginx template auth_request variable name
  backend/src/main/java/cz/muriel/core/monitoring/GrafanaAuthController.java
  diagnostics/build-20251023-165208-summary.txt
  docker/nginx/nginx-ssl.conf.template
Due: naming-lint, backend-format-check

fix(grafana): Complete SSO provisioning and org setup
  .DS_Store
  ENVIRONMENT_AUDIT.md
  GRAFANA_JWT_VARIANTA_A_ANALYZA.md
  GRAFANA_SSO_COMMIT_MSG.txt
  GRAFANA_SSO_DEBUG_SUMMARY.md
  GRAFANA_SSO_FIX_SUMMARY.md
  Makefile
  backend/src/main/java/cz/muriel/core/monitoring/AuthRequestController.java
  backend/src/main/java/cz/muriel/core/monitoring/GrafanaJwtService.java
  diagnostics/build-20251024-080543-summary.txt
  diagnostics/build-20251025-101337-summary.txt
  diagnostics/build-20251025-130445-summary.txt
  docker/.env
  docker/docker-compose.yml
  docker/grafana/grafana.ini
  docker/keycloak/realm-admin.json
  docker/keycloak/realm-admin.template.json
  docker/nginx/nginx-ssl.conf.template
  e2e/e2e/screenshots/auth-403-debug.png
  e2e/specs/pre/debug-403-auth.spec.ts
  frontend/src/components/GrafanaEmbed.tsx
  frontend/src/utils/grafanaUrl.test.ts
  frontend/src/utils/grafanaUrl.ts
  frontend/tests/e2e/monitoring/grafana-embed.spec.ts
  scripts/grafana/sanity-test.sh
  scripts/grafana/user-check.sh
  scripts/grafana/user-set-org.sh
Due: naming-lint, frontend-lint, backend-format-check

fix(grafana): Use HTTPS for jwk_set_url (Grafana requirement)
  docker/grafana/grafana.ini
Due: none

feat(monitoring): Add feature flags for Grafana deprecation + Loki migration
  .github/copilot-instructions.md
  GRAFANA_SSO_COMPLETE_ANALYSIS.md
  S0_GRAFANA_INVENTORY_AUDIT.md
  backend/src/main/java/cz/muriel/core/metamodel/filter/FilterParser.java
  backend/src/main/java/cz/muriel/core/monitoring/GrafanaAuthBridgeController.java
  backend/src/main/resources/application.properties
  diagnostics/build-20251025-181421-summary.txt
  diagnostics/build-20251025-193315-summary.txt
  diagnostics/build-20251025-193521-summary.txt
  diagnostics/tests/error-summary-20251025-193526.md
  e2e/debug-grafana-sso.spec.ts
  e2e/e2e/screenshots/auth-403-debug.png
  e2e/monitoring-dashboard-debug.png
  e2e/specs/monitoring/grafana-sso-debug.spec.ts
  e2e/test-auth-endpoint.js
  frontend/.env
Due: naming-lint, backend-format-check

feat(monitoring): S1 - Remove Grafana FE integration, add placeholders
  MIGRATION_DEGRAFANA.md
  backend/src/main/java/cz/muriel/core/monitoring/AuthRequestController.java
  backend/src/main/java/cz/muriel/core/monitoring/GrafanaAuthBridgeController.java
  backend/src/main/java/cz/muriel/core/monitoring/GrafanaTenantRegistry.java
  backend/src/main/java/cz/muriel/core/monitoring/grafana/GrafanaAdminClient.java
  backend/src/main/java/cz/muriel/core/monitoring/grafana/GrafanaProvisioningService.java
  docker/nginx/nginx.conf
  e2e/debug-grafana-sso.spec.ts
  e2e/specs/monitoring/grafana-sso-debug.spec.ts
  e2e/test-auth-endpoint.js
  frontend/src/components/GrafanaEmbed.tsx
  frontend/src/components/Monitoring/GrafanaEmbed.tsx
  frontend/src/hooks/useGrafanaOrgId.ts
  frontend/src/pages/Admin/AdminAuditPage.tsx
  frontend/src/pages/Admin/AdminSecurityPage.tsx
  frontend/src/pages/Admin/AxiomMonitoringPage.tsx
  frontend/src/pages/Admin/MonitoringComprehensivePage.tsx
  frontend/src/pages/Admin/MonitoringPage.tsx
  frontend/src/pages/Admin/StreamingDashboardPage.tsx
  frontend/src/pages/Reports.jsx
Due: naming-lint, frontend-lint, backend-format-check

feat(monitoring): S2-S5 Complete - Native Loki UI Implementation
  backend/src/main/java/cz/muriel/core/monitoring/AuthRequestController.java
  backend/src/main/java/cz/muriel/core/monitoring/GrafanaTenantRegistry.java
  backend/src/main/java/cz/muriel/core/monitoring/bff/MonitoringBffController.java
  backend/src/main/java/cz/muriel/core/monitoring/grafana/GrafanaAdminClient.java
  backend/src/main/java/cz/muriel/core/monitoring/grafana/GrafanaProvisioningService.java
  backend/src/main/java/cz/muriel/core/monitoring/loki/LokiClient.java
  backend/src/main/java/cz/muriel/core/monitoring/loki/dto/LokiLabelValuesResponse.java
  backend/src/main/java/cz/muriel/core/monitoring/loki/dto/LokiLabelsResponse.java
  backend/src/main/java/cz/muriel/core/monitoring/loki/dto/LokiQueryRequest.java
  backend/src/main/java/cz/muriel/core/monitoring/loki/dto/LokiQueryResponse.java
  backend/src/main/resources/application.properties
  frontend/src/components/Monitoring/LogViewer.tsx
  frontend/src/components/Monitoring/MetricCard.tsx
  frontend/src/components/Monitoring/index.ts
  frontend/src/components/Monitoring/index.tsx
  frontend/src/pages/Admin/AdminAuditPage.tsx
  frontend/src/pages/Admin/AdminSecurityPage.tsx
  frontend/src/pages/Admin/AxiomMonitoringPage.tsx
  frontend/src/pages/Admin/MonitoringComprehensivePage.tsx
  frontend/src/pages/Admin/MonitoringPage.tsx
  frontend/src/pages/Admin/StreamingDashboardPage.tsx
  frontend/src/pages/Reports.jsx
Due: naming-lint, frontend-lint, backend-format-check

feat(monitoring): S6-S7 Complete - E2E Tests + Documentation
  MIGRATION_DEGRAFANA.md
  README.md
  docs/LOKI_MONITORING_UI.md
  e2e/specs/monitoring/loki-log-viewer.spec.ts
Due: none

docs: Add EPIC completion summary
  EPIC_COMPLETE_LOKI_UI.md
Due: none

fix(monitoring): P1 Critical Fixes - Remove Grafana residual code + integrate E2E tests
  Makefile
  REALITY_CHECK_LOKI_MIGRATION.md
  backend/src/main/java/cz/muriel/core/monitoring/bff/MonitoringBffController.java
  backend/src/main/java/cz/muriel/core/monitoring/loki/LokiClient.java
  backend/src/main/java/cz/muriel/core/monitoring/loki/dto/LokiQueryRequest.java
  backend/src/main/java/cz/muriel/core/monitoring/loki/dto/LokiQueryResponse.java
  frontend/src/components/Monitoring/MonitoringDialog.tsx
  frontend/src/examples/PermissionExamples.jsx
  frontend/src/test/StreamingDashboard.test.tsx
  frontend/src/utils/grafanaUrl.test.ts
  frontend/src/utils/grafanaUrl.ts
Due: naming-lint, frontend-lint, backend-format-check

feat(monitoring): P2.1+P2.2 Add Micrometer metrics + structured audit logging
  backend/src/main/java/cz/muriel/core/monitoring/bff/MonitoringBffController.java
Due: naming-lint, backend-format-check

feat(monitoring): P2.3 Add Resilience4j rate limiting to Loki BFF
  backend/src/main/java/cz/muriel/core/monitoring/bff/MonitoringBffController.java
  backend/src/main/resources/application.properties
Due: naming-lint, backend-format-check
