Repository Muriel2Horak/core-platform: changes, and which lefthook commands are due for each by the changed paths.
All: naming-lint, frontend-lint, backend-format-check, dashboard-structure

lefthook.yml:

# Lefthook Git Hooks Configuration
# Install: brew install lefthook (or npm i -g @evilmartians/lefthook)
# Setup: lefthook install

pre-commit:
  parallel: true
  commands:
    naming-lint:
      glob: "{backend/src/main/java/**/*.java,backend/src/main/resources/**/*.{sql,yml,yaml},frontend/src/**/*.{ts,tsx}}"
      run: cd tools/naming-lint && npm run lint:all
      fail_text: "❌ Naming convention violations detected. See docs/NAMING_GUIDE.md"
      
    frontend-lint:
      glob: "frontend/src/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && npm run lint --quiet
      fail_text: "❌ Frontend linting failed"
      
    backend-format-check:
      glob: "backend/src/**/*.java"
      run: cd backend && ./mvnw spotless:check -q
      fail_text: "❌ Backend code formatting issues. Run: cd backend && ./mvnw spotless:apply"
      
    dashboard-structure:
      glob: "docker/grafana/provisioning/dashboards/**/*.json"
      run: bash scripts/validate-dashboard-structure.sh
      fail_text: "❌ Dashboard structure validation failed. Move loose JSON files to subdirectories!"

pre-push:
  commands:
    backend-tests:
      run: cd backend && ./mvnw test -Dtest=CubeQueryServiceIT,PresenceNrtIT -q
      fail_text: "❌ Critical tests failed. Fix before pushing!"
      
commit-msg:
  commands:
    conventional:
      run: |
        # Check for conventional commit format: type(scope?): message
        if ! grep -qE "^(feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert)(\(.+\))?: .+" {1}; then
          echo "❌ Commit message must follow Conventional Commits:"
          echo "   feat(scope): description"
          echo "   fix(scope): description"
          echo "   etc."
          exit 1
        fi
      fail_text: "❌ Invalid commit message format"

skip_output:
  - meta
  - success

test: harden streaming integration test
  tests/streaming_integration_test.sh
Due: none

feat: align streaming outbox schema and enable streaming
  backend/src/main/resources/db/migration/V9__update_outbox_final_for_streaming.sql
  backend/src/main/resources/metamodel/global-config.yaml
Due: naming-lint

feat: wire MCP capabilities to permission service
  backend/src/main/java/cz/muriel/core/controller/ai/McpController.java
  backend/src/main/java/cz/muriel/core/service/ai/McpCapabilitiesService.java
  backend/src/test/java/cz/muriel/core/service/ai/McpCapabilitiesServiceTest.java
Due: naming-lint, backend-format-check

feat: enforce AI tenant validation and strict reads
  backend/src/main/java/cz/muriel/core/controller/ai/AiContextController.java
  backend/src/test/java/cz/muriel/core/controller/ai/AiContextControllerIT.java
  backend/src/test/java/cz/muriel/core/controller/ai/AiContextControllerSecurityTest.java
  backend/src/test/java/cz/muriel/core/controller/ai/AiContextControllerStrictReadsTest.java
Due: naming-lint, backend-format-check

docs: update cleanup plan statuses for AI security
  TODO_CLEANUP_PLAN.md
Due: none

feat: cache MCP capabilities
  TODO_CLEANUP_PLAN.md
  backend/src/main/java/cz/muriel/core/monitoring/bff/config/MonitoringBffConfig.java
  backend/src/main/java/cz/muriel/core/service/ai/McpCapabilitiesService.java
Due: naming-lint, backend-format-check

feat: centralize tenant id extraction for AI context
  backend/src/main/java/cz/muriel/core/controller/ai/AiContextController.java
  backend/src/main/java/cz/muriel/core/tenant/TenantContextHolder.java
Due: naming-lint, backend-format-check

docs: document AI context auth and tenant handling
  TODO_CLEANUP_PLAN.md
  docs/AI_GUIDE.md
Due: none

test: re-enable tenant controller security checks
  TODO_CLEANUP_PLAN.md
  backend/src/test/java/cz/muriel/core/controller/TenantControllerTest.java
Due: backend-format-check

feat: enforce strict reads via edit lock fallback
  TODO_CLEANUP_PLAN.md
  backend/src/main/java/cz/muriel/core/controller/ai/AiContextController.java
  backend/src/test/java/cz/muriel/core/controller/ai/AiContextControllerSecurityTest.java
  backend/src/test/java/cz/muriel/core/controller/ai/AiContextControllerStrictReadsTest.java
Due: naming-lint, backend-format-check

docs: mark AI context documentation complete
  TODO_CLEANUP_PLAN.md
Due: none

feat: derive AI auth context from MCP capabilities
  backend/src/main/java/cz/muriel/core/service/ai/ContextAssembler.java
  backend/src/test/java/cz/muriel/core/service/ai/ContextAssemblerTest.java
Due: naming-lint, backend-format-check

docs: update cleanup checklist progress
  TODO_CLEANUP_PLAN.md
Due: none

test: enable phase2 integration test without keycloak
  TODO_CLEANUP_PLAN.md
  backend/src/test/java/cz/muriel/core/phase2/Phase2IntegrationTest.java
Due: backend-format-check

docs: update kafka config event status
  TODO_CLEANUP_PLAN.md
Due: none

feat: add typed AI config change event
  TODO_CLEANUP_PLAN.md
  backend/src/main/java/cz/muriel/core/controller/admin/AdminAiConfigController.java
  backend/src/main/java/cz/muriel/core/dto/ConfigChangeEvent.java
Due: naming-lint, backend-format-check

docs: add AI config change event schema
  TODO_CLEANUP_PLAN.md
  docs/AI_GUIDE.md
Due: none

feat: publish full AI config in change events
  backend/src/main/java/cz/muriel/core/controller/admin/AdminAiConfigController.java
  backend/src/main/java/cz/muriel/core/dto/ConfigChangeEvent.java
  docs/AI_GUIDE.md
Due: naming-lint, backend-format-check

feat: consume AI config change events
  TODO_CLEANUP_PLAN.md
  backend/src/main/java/cz/muriel/core/service/ai/AiConfigChangeListener.java
Due: naming-lint, backend-format-check

docs: mark tenant controller test fix complete
  TODO_CLEANUP_PLAN.md
Due: none

test: remove raw type stubs in workflow runtime tests
  TODO_CLEANUP_PLAN.md
  backend/src/test/java/cz/muriel/core/workflow/WorkflowRuntimeServiceTest.java
Due: backend-format-check

docs: mark cleanup checklist milestones complete
  TODO_CLEANUP_PLAN.md
Due: none

test: speed up and enable presence ttl coverage
  TODO_CLEANUP_PLAN.md
  backend/src/test/java/cz/muriel/core/presence/PresenceServiceIntegrationTest.java
Due: backend-format-check

refactor: remove unchecked map casts in monitoring
  backend/src/main/java/cz/muriel/core/kafka/service/DltManager.java
  backend/src/main/java/cz/muriel/core/metamodel/cache/CacheInvalidationListener.java
  backend/src/main/java/cz/muriel/core/monitoring/bff/service/DatasourceDiscoveryService.java
  backend/src/main/java/cz/muriel/core/monitoring/prometheus/PrometheusClient.java
Due: naming-lint, backend-format-check

refactor: remove unchecked casts in reporting
  backend/src/main/java/cz/muriel/core/reporting/cube/CubeMapper.java
  backend/src/main/java/cz/muriel/core/reporting/security/LogRedactor.java
  backend/src/main/java/cz/muriel/core/reporting/service/CubeQueryService.java
Due: naming-lint, backend-format-check

refactor: remove unchecked casts in auth
  backend/src/main/java/cz/muriel/core/auth/AuthController.java
  backend/src/main/java/cz/muriel/core/auth/KeycloakAdminService.java
Due: naming-lint, backend-format-check

refactor: remove unchecked casts in workflow
  backend/src/main/java/cz/muriel/core/workflow/WorkflowExecutionService.java
  backend/src/main/java/cz/muriel/core/workflow/WorkflowService.java
Due: naming-lint, backend-format-check

refactor: remove unchecked casts in workflow proposals
  backend/src/main/java/cz/muriel/core/service/workflow/DraftService.java
  backend/src/main/java/cz/muriel/core/service/workflow/ProposalService.java
Due: naming-lint, backend-format-check

refactor: remove unchecked casts in data services
  backend/src/main/java/cz/muriel/core/document/DocumentService.java
  backend/src/main/java/cz/muriel/core/metamodel/relationship/RelationshipResolver.java
Due: naming-lint, backend-format-check

refactor: remove unchecked casts in frontend logs
  backend/src/main/java/cz/muriel/core/controller/FrontendLogsController.java
Due: naming-lint, backend-format-check

refactor: remove unchecked casts in workflow admin
  backend/src/main/java/cz/muriel/core/controller/admin/WorkflowAdminController.java
Due: naming-lint, backend-format-check

refactor: remove unchecked casts in studio admin
  backend/src/main/java/cz/muriel/core/controller/admin/StudioAdminController.java
Due: naming-lint, backend-format-check

refactor: remove unchecked casts in core services
  backend/src/main/java/com/platform/workflow/executor/WorkflowExecutorOrchestrator.java
  backend/src/main/java/cz/muriel/core/auth/config/SecurityConfig.java
  backend/src/main/java/cz/muriel/core/entities/MetamodelCrudService.java
Due: naming-lint, backend-format-check

test: avoid unchecked kafka template mock
  backend/src/test/java/cz/muriel/core/config/TestKafkaConfig.java
Due: backend-format-check

test: remove unchecked casts in ai and workflow tests
  backend/src/test/java/cz/muriel/core/controller/ai/AiContextControllerSecurityTest.java
  backend/src/test/java/cz/muriel/core/controller/ai/AiContextControllerStrictReadsTest.java
  backend/src/test/java/cz/muriel/core/service/ai/ContextAssemblerTest.java
  backend/src/test/java/cz/muriel/core/workflow/WorkflowEventsKafkaIT.java
Due: backend-format-check

docs: note test coverage pending run
  TODO_CLEANUP_PLAN.md
Due: none

docs: mark epic-012 vault completion status
  backlog/EPIC-012-vault-integration/README.md
Due: none

docs: mark epic-018 hardening stories done
  backlog/EPIC-018-platform-hardening/stories/PH10-metamodel-studio/README.md
  backlog/EPIC-018-platform-hardening/stories/PH4-field-level-locking-optimistic-concurren/README.md
  backlog/EPIC-018-platform-hardening/stories/PH5-pre-aggregation-auto-refresh/README.md
  backlog/EPIC-018-platform-hardening/stories/PH9-platform-documentation/README.md
Due: none

ci: add quality gate orchestration scaffolding
  .github/workflows/quality-gates-nightly.yml
  .github/workflows/quality-gates-pr.yml
  .github/workflows/quality-gates-release.yml
  docs/QUALITY_GATES_RUNBOOK.md
  scripts/ci/aggregate-gates.sh
  scripts/ci/gate-matrix.json
  scripts/ci/write-gate-result.sh
Due: none

ci: wire sast sca secrets and iac lint gates
  .github/workflows/quality-gates-nightly.yml
  .github/workflows/quality-gates-pr.yml
  .github/workflows/quality-gates-release.yml
  .gitleaks.toml
  .hadolint.yaml
  .kube-linter.yaml
  scripts/ci/nginx-lint.sh
Due: none
