Repository Muriel2Horak/core-platform: changes, and which lefthook commands are due for each by the changed paths.
All: naming-lint, frontend-lint, backend-format-check, dashboard-structure

lefthook.yml:

# Lefthook Git Hooks Configuration
# Install: brew install lefthook (or npm i -g @evilmartians/lefthook)
# Setup: lefthook install

pre-commit:
  parallel: true
  commands:
    naming-lint:
      glob: "{backend/src/main/java/**/*.java,backend/src/main/resources/**/*.{sql,yml,yaml},frontend/src/**/*.{ts,tsx}}"
      run: cd tools/naming-lint && npm run lint:all
      fail_text: "❌ Naming convention violations detected. See docs/NAMING_GUIDE.md"
      
    frontend-lint:
      glob: "frontend/src/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && npm run lint --quiet
      fail_text: "❌ Frontend linting failed"
      
    backend-format-check:
      glob: "backend/src/**/*.java"
      run: cd backend && ./mvnw spotless:check -q
      fail_text: "❌ Backend code formatting issues. Run: cd backend && ./mvnw spotless:apply"
      
    dashboard-structure:
      glob: "docker/grafana/provisioning/dashboards/**/*.json"
      run: bash scripts/validate-dashboard-structure.sh
      fail_text: "❌ Dashboard structure validation failed. Move loose JSON files to subdirectories!"

pre-push:
  commands:
    backend-tests:
      run: cd backend && ./mvnw test -Dtest=CubeQueryServiceIT,PresenceNrtIT -q
      fail_text: "❌ Critical tests failed. Fix before pushing!"
      
commit-msg:
  commands:
    conventional:
      run: |
        # Check for conventional commit format: type(scope?): message
        if ! grep -qE "^(feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert)(\(.+\))?: .+" {1}; then
          echo "❌ Commit message must follow Conventional Commits:"
          echo "   feat(scope): description"
          echo "   fix(scope): description"
          echo "   etc."
          exit 1
        fi
      fail_text: "❌ Invalid commit message format"

skip_output:
  - meta
  - success

ci: add ai guardrails and compliance evidence gates
  .github/workflows/quality-gates-nightly.yml
  .github/workflows/quality-gates-pr.yml
  .github/workflows/quality-gates-release.yml
  docs/QUALITY_GATES_RUNBOOK.md
  scripts/ci/ai-risky-patterns.txt
  scripts/ci/check-ai-risky-patterns.sh
  scripts/ci/collect-evidence.sh
  scripts/ci/dast-smoke.sh
  scripts/ci/gate-matrix.json
  scripts/ci/security-regression.sh
Due: none

docs: update epic-020 status and gate tracking
  backlog/EPIC-020-secure-sdlc-quality-gates/README.md
  backlog/EPIC-020-secure-sdlc-quality-gates/stories/US-020-001-ci-quality-gates-orchestration/README.md
  backlog/EPIC-020-secure-sdlc-quality-gates/stories/US-020-006-dast-security-scan/README.md
  backlog/EPIC-020-secure-sdlc-quality-gates/stories/US-020-007-security-regression-tests/README.md
  backlog/EPIC-020-secure-sdlc-quality-gates/stories/US-020-008-compliance-evidence-reporting/README.md
  backlog/EPIC-020-secure-sdlc-quality-gates/stories/US-020-009-ai-code-guardrails/README.md
  backlog/EPIC-INVENTORY.md
  backlog/index.md
Due: none

ci: add sonar secrets, guardrails, and act-safe gates
  .github/CODEOWNERS
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/quality-gates-nightly.yml
  .github/workflows/quality-gates-pr.yml
  .github/workflows/quality-gates-release.yml
  backlog/EPIC-020-secure-sdlc-quality-gates/README.md
  backlog/EPIC-020-secure-sdlc-quality-gates/stories/US-020-001-ci-quality-gates-orchestration/README.md
  backlog/EPIC-020-secure-sdlc-quality-gates/stories/US-020-006-dast-security-scan/README.md
  backlog/EPIC-020-secure-sdlc-quality-gates/stories/US-020-008-compliance-evidence-reporting/README.md
  backlog/EPIC-020-secure-sdlc-quality-gates/stories/US-020-009-ai-code-guardrails/README.md
  backlog/EPIC-INVENTORY.md
  docs/QUALITY_GATES_RUNBOOK.md
  scripts/ci/ai-risky-patterns.txt
  scripts/ci/check-ai-risky-patterns.sh
  scripts/ci/dast-smoke.sh
Due: none

feat(ci): add security regression smoke/full flow
  .github/workflows/quality-gates-nightly.yml
  .github/workflows/quality-gates-pr.yml
  docs/QUALITY_GATES_RUNBOOK.md
  docs/SECURITY_REGRESSION_TESTS.md
  scripts/ci/gate-matrix.json
  scripts/ci/security-regression.sh
  tests/rbac_smoke.sh
  tests/test_tenant_api.sh
Due: none

feat(monitoring): add quality gates dashboard
  docker/grafana/provisioning/dashboards/security/axiom_quality_gates.json
  docs/QUALITY_GATES_RUNBOOK.md
Due: dashboard-structure

docs(backlog): update epic-020 status
  backlog/EPIC-020-secure-sdlc-quality-gates/README.md
  backlog/EPIC-020-secure-sdlc-quality-gates/stories/US-020-007-security-regression-tests/README.md
  backlog/EPIC-020-secure-sdlc-quality-gates/stories/US-020-007-security-regression-tests/subtasks/TASK-020-007-01-test-matrix-scenarios.md
  backlog/EPIC-020-secure-sdlc-quality-gates/stories/US-020-007-security-regression-tests/subtasks/TASK-020-007-02-e2e-tenant-isolation.md
  backlog/EPIC-020-secure-sdlc-quality-gates/stories/US-020-007-security-regression-tests/subtasks/TASK-020-007-03-rbac-api-tests.md
  backlog/EPIC-020-secure-sdlc-quality-gates/stories/US-020-007-security-regression-tests/subtasks/TASK-020-007-04-ci-integration-docs.md
  backlog/EPIC-020-secure-sdlc-quality-gates/stories/US-020-008-compliance-evidence-reporting/README.md
  backlog/EPIC-020-secure-sdlc-quality-gates/stories/US-020-008-compliance-evidence-reporting/subtasks/TASK-020-008-04-dashboard-status.md
  backlog/EPIC-INVENTORY.md
  backlog/index.md
Due: none

fix(ci): align smoke env fallbacks and tighten AI patterns
  scripts/ci/ai-risky-patterns.txt
  tests/multitenancy_smoke.sh
Due: none

feat(ci): warn-only ai guardrails and dast tuning
  .github/workflows/quality-gates-nightly.yml
  .github/workflows/quality-gates-pr.yml
  .github/workflows/quality-gates-release.yml
  backlog/EPIC-020-secure-sdlc-quality-gates/stories/US-020-006-dast-security-scan/README.md
  backlog/EPIC-020-secure-sdlc-quality-gates/stories/US-020-006-dast-security-scan/subtasks/TASK-020-006-01-zap-baseline-config.md
  backlog/EPIC-020-secure-sdlc-quality-gates/stories/US-020-006-dast-security-scan/subtasks/TASK-020-006-02-nightly-ci-integration.md
  backlog/EPIC-020-secure-sdlc-quality-gates/stories/US-020-006-dast-security-scan/subtasks/TASK-020-006-03-auth-scope-config.md
  backlog/EPIC-020-secure-sdlc-quality-gates/stories/US-020-006-dast-security-scan/subtasks/TASK-020-006-04-reporting-triage.md
  backlog/EPIC-020-secure-sdlc-quality-gates/stories/US-020-009-ai-code-guardrails/subtasks/TASK-020-009-02-risky-pattern-detection.md
  docs/QUALITY_GATES_RUNBOOK.md
  scripts/ci/aggregate-gates.sh
  scripts/ci/dast-smoke.sh
  scripts/ci/write-gate-result.sh
Due: none

fix(ci): harden nginx lint and gitleaks config
  .gitleaks.toml
  docker/nginx/nginx.dev.conf
  scripts/ci/nginx-lint.sh
Due: none

fix(backend): stabilize tests and dedup filter logic
  backend/pom.xml
  backend/src/main/java/cz/muriel/core/entities/MetamodelCrudService.java
  backend/src/main/java/cz/muriel/core/metamodel/filter/FilterParser.java
  backend/src/main/java/cz/muriel/core/reporting/service/QueryDeduplicator.java
  backend/src/test/java/cz/muriel/core/controller/TenantControllerTest.java
  backend/src/test/java/cz/muriel/core/controller/ai/AiContextControllerSecurityTest.java
  backend/src/test/java/cz/muriel/core/controller/ai/AiContextControllerStrictReadsTest.java
  backend/src/test/java/cz/muriel/core/reporting/service/QueryDeduplicatorTest.java
  backend/src/test/java/cz/muriel/core/service/ai/McpCapabilitiesServiceTest.java
  backend/src/test/java/cz/muriel/core/test/AbstractIntegrationTest.java
Due: naming-lint, backend-format-check

fix(dev): make local compose and tests colima-friendly
  Makefile
  docker/docker-compose.yml
Due: none

fix(build-doctor): honor SKIP_DOCTOR properly
  scripts/build-doctor/Makefile.doctor
Due: none

fix(test): harden Testcontainers startup and fail on pipelines
  Makefile
  backend/src/test/java/cz/muriel/core/phase2/Phase2IntegrationTest.java
  backend/src/test/java/cz/muriel/core/test/AbstractIntegrationTest.java
Due: backend-format-check

fix(e2e): stabilize Keycloak login redirect wait
  e2e/helpers/login.ts
Due: none

fix(db): parameterize metamodel queries
  backend/src/main/java/cz/muriel/core/entities/MetamodelCrudService.java
  backend/src/main/java/cz/muriel/core/metamodel/relationship/RelationshipResolver.java
Due: naming-lint, backend-format-check

fix(ci): pin actionlint version
  .github/workflows/quality-gates-nightly.yml
  .github/workflows/quality-gates-pr.yml
  .github/workflows/quality-gates-release.yml
Due: none

fix(compose): add defaults for db env vars
  docker/docker-compose.yml
Due: none

fix(compose): add safe defaults for keycloak env
  docker/docker-compose.yml
Due: none

fix(ci): tighten permissions and pin actions
  .github/workflows/quality-gates-nightly.yml
  .github/workflows/quality-gates-pr.yml
  .github/workflows/quality-gates-release.yml
  bff/Dockerfile
  bff/src/clients/backend.ts
Due: none

fix(ci): pin trivy action
  .github/workflows/quality-gates-release.yml
Due: none

fix(sonar): remove invalid utf-8 chars
  backend/src/main/java/cz/muriel/core/service/KeycloakBulkSyncService.java
  backend/src/main/java/cz/muriel/core/service/KeycloakSyncService.java
  frontend/src/app/layouts/AppShell.tsx
  frontend/src/components/Studio/DiffPanel.tsx
  frontend/src/services/keycloakService.js
Due: naming-lint, frontend-lint, backend-format-check

fix(ci): wait for backend health and log failures
  .github/workflows/ci.yml
Due: none

fix(compose): default backend db env in CI
  docker/docker-compose.yml
Due: none

Make Tika initialization lazy
  backend/src/main/java/cz/muriel/core/document/DocumentService.java
Due: naming-lint, backend-format-check

ci: start redis before backend
  .github/workflows/ci.yml
Due: none

fix(ci): run backend health check in container
  .github/workflows/ci.yml
Due: none

fix(ci): run frontend health check in container
  .github/workflows/ci.yml
Due: none

fix(ci): find gate results in nested artifacts
  scripts/ci/aggregate-gates.sh
Due: none

Exclude integration tests from surefire
  backend/pom.xml
Due: none

Create SECURITY.md for security policy
  SECURITY.md
Due: none

fix(ci): stabilize sca gate
  backend/pom.xml
  frontend/package-lock.json
  frontend/package.json
Due: none

ci: pass NVD api key to sca
  .github/workflows/quality-gates-nightly.yml
  .github/workflows/quality-gates-pr.yml
  .github/workflows/quality-gates-release.yml
  backend/pom.xml
Due: none

deps(frontend): align mui lab and refresh lockfile
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(ci): stabilize gates after dependency bumps
  .github/workflows/ci.yml
  .github/workflows/quality-gates-pr.yml
  .kube-linter.yaml
  backend/pom.xml
  frontend/package-lock.json
  frontend/package.json
Due: none

deps(backend): align resilience4j-reactor with 2.3.0
  backend/pom.xml
Due: none

fix(boot4): update config and test wiring
  backend/pom.xml
  backend/src/main/java/cz/muriel/core/config/FlywayConfig.java
  backend/src/main/java/cz/muriel/core/config/FlywayInitializer.java
  backend/src/main/java/cz/muriel/core/config/KeycloakJpaConfig.java
  backend/src/main/java/cz/muriel/core/config/PrimaryJpaConfig.java
  backend/src/main/java/cz/muriel/core/config/RestTemplateConfig.java
  backend/src/main/java/cz/muriel/core/kafka/annotation/BulkRetry.java
  backend/src/main/java/cz/muriel/core/kafka/annotation/CriticalRetry.java
  backend/src/main/java/cz/muriel/core/kafka/annotation/HighPriorityRetry.java
  backend/src/main/java/cz/muriel/core/kafka/annotation/NormalRetry.java
  backend/src/main/java/cz/muriel/core/monitoring/prometheus/PrometheusClient.java
  backend/src/test/java/cz/muriel/core/contract/OpenApiContractIT.java
  backend/src/test/java/cz/muriel/core/controller/TenantControllerTest.java
  backend/src/test/java/cz/muriel/core/controller/admin/AdminAiConfigControllerIT.java
  backend/src/test/java/cz/muriel/core/controller/admin/AdminMetamodelControllerIT.java
  backend/src/test/java/cz/muriel/core/controller/admin/AiConfigPersistenceIT.java
  backend/src/test/java/cz/muriel/core/controller/admin/StudioAdminControllerIT.java
  backend/src/test/java/cz/muriel/core/controller/ai/AiContextControllerIT.java
  backend/src/test/java/cz/muriel/core/monitoring/bff/MonitoringHeaderSecurityIT.java
  backend/src/test/java/cz/muriel/core/monitoring/bff/MonitoringMetricsAndLogsIT.java
  backend/src/test/java/cz/muriel/core/monitoring/bff/MonitoringQueryIT.java
  backend/src/test/java/cz/muriel/core/reporting/api/BulkUpdateControllerIT.java
  backend/src/test/java/cz/muriel/core/reporting/api/EntityCrudControllerIT.java
  backend/src/test/java/cz/muriel/core/reporting/api/ReportQueryControllerIT.java
  backend/src/test/java/cz/muriel/core/reporting/security/RateLimitFilterIT.java
  backend/src/test/java/cz/muriel/core/reporting/security/SecurityHeadersFilterIT.java
  backend/src/test/java/cz/muriel/core/streaming/PriorityAndPoliciesIT.java
  backend/src/test/java/cz/muriel/core/test/MockMvcTestConfig.java
  backend/src/test/java/cz/muriel/core/test/TestRestClientConfig.java
  backend/src/test/java/cz/muriel/core/workflow/WorkflowApiIT.java
Due: naming-lint, backend-format-check

fix: stabilize backend tests and configs
  backend/pom.xml
  backend/src/main/java/cz/muriel/core/config/JacksonConfig.java
  backend/src/main/java/cz/muriel/core/config/WebClientConfig.java
  backend/src/main/java/cz/muriel/core/reporting/service/QueryDeduplicator.java
  backend/src/test/java/cz/muriel/core/controller/ai/AiContextControllerSecurityTest.java
  backend/src/test/java/cz/muriel/core/reporting/service/QueryDeduplicatorTest.java
  backend/src/test/java/cz/muriel/core/test/AbstractIntegrationTest.java
  backend/src/test/java/cz/muriel/core/test/TestRestClientConfig.java
Due: naming-lint, backend-format-check

fix(backend): make KafkaTemplate optional in AdminAiConfigController
  backend/src/main/java/cz/muriel/core/controller/admin/AdminAiConfigController.java
Due: naming-lint, backend-format-check

fix(backend): make KafkaTemplate optional in WorkflowEventPublisher
  backend/src/main/java/cz/muriel/core/workflow/WorkflowEventPublisher.java
Due: naming-lint, backend-format-check
