Repository Muriel2Horak/core-platform: changes, and which lefthook commands are due for each by the changed paths.
All: naming-lint, frontend-lint, backend-format-check, dashboard-structure

naming-lint:
  run: cd tools/naming-lint && npm run lint:all
  fail_text: ❌ Naming convention violations detected. See docs/NAMING_GUIDE.md

frontend-lint:
  run: cd frontend && npm run lint --quiet
  fail_text: ❌ Frontend linting failed

backend-format-check:
  run: cd backend && ./mvnw spotless:check -q
  fail_text: '❌ Backend code formatting issues. Run: cd backend && ./mvnw spotless:apply'

dashboard-structure:
  run: bash scripts/validate-dashboard-structure.sh
  fail_text: ❌ Dashboard structure validation failed. Move loose JSON files to subdirectories!

docs(monitoring): P1.3 Update REALITY_CHECK with P1+P2 completion status
  REALITY_CHECK_LOKI_MIGRATION.md
Due: none

docs(monitoring): Completion report - De-Grafana → Native Loki UI PRODUCTION READY
  LOKI_MIGRATION_COMPLETE.md
Due: none

test(monitoring): Add smoke test script + E2E CSV export test
  Makefile
  e2e/.env.e2e.example
  e2e/specs/monitoring/loki-csv-export.spec.ts
  scripts/smoke-test-loki-migration.sh
Due: none

docs(monitoring): Add comprehensive validation report S0-S7
  LOKI_MIGRATION_VALIDATION.md
Due: none

test(monitoring): Add data-testid selectors + fix E2E tenant isolation test
  e2e/specs/monitoring/loki-csv-export.spec.ts
  frontend/src/components/Monitoring/LogViewer.tsx
Due: naming-lint, frontend-lint

fix(backend): Make GrafanaProvisioningService optional dependency
  backend/src/main/java/cz/muriel/core/controller/TenantManagementController.java
  backend/src/main/java/cz/muriel/core/service/KeycloakRealmManagementService.java
Due: naming-lint, backend-format-check

fix: resolve backend runtime errors for clean environment
  backend/src/main/java/com/platform/workflow/timer/WorkflowTimerService.java
  backend/src/main/java/cz/muriel/core/controller/UserProfileController.java
  e2e/helpers/api.ts
Due: naming-lint, backend-format-check

fix: consolidate @PutMapping and @PatchMapping annotations on single line
  backend/src/main/java/cz/muriel/core/controller/UserProfileController.java
Due: naming-lint, backend-format-check

fix: separate @PutMapping and @PatchMapping annotations to separate lines
  backend/src/main/java/cz/muriel/core/controller/UserProfileController.java
Due: naming-lint, backend-format-check

fix: separate @PatchMapping annotation on its own line
  .devcontainer/docker-compose.devcontainer.yml
  backend/src/main/java/cz/muriel/core/controller/UserProfileController.java
  e2e/e2e/screenshots/auth-403-debug.png
  e2e/helpers/api.ts
  e2e/specs/post/15_cdc_polling.spec.ts
Due: naming-lint, backend-format-check

fix: use @RequestMapping with PUT+PATCH methods instead of separate annotations
  backend/src/main/java/cz/muriel/core/controller/UserProfileController.java
Due: naming-lint, backend-format-check

fix: correct API endpoints from /api/users/me to /api/me
  e2e/helpers/api.ts
Due: none

feat(e2e): add comprehensive admin CRUD test suite and documentation
  Makefile
  backend/src/main/java/cz/muriel/core/controller/UserProfileController.java
  e2e/E2E_TEST_SUITE.md
  e2e/QUICK_START_ADMIN_TESTS.md
  e2e/helpers/api.ts
  e2e/helpers/fixtures.ts
  e2e/specs/admin/README.md
  e2e/specs/admin/keycloak-sync.spec.ts
Due: naming-lint, backend-format-check

fix(e2e): critical fixture bugs - API endpoints + tenant key field
  e2e/helpers/fixtures.ts
  e2e/specs/admin/users-crud.spec.ts
Due: none

fix(e2e): remove all success message expectations + selector fixes
  e2e/specs/admin/groups-crud.spec.ts
  e2e/specs/admin/roles-crud.spec.ts
  e2e/specs/admin/tenants-crud.spec.ts
  e2e/specs/admin/users-crud.spec.ts
Due: none

fix(e2e): fix ALL strict mode violations + tenant field labels
  e2e/specs/admin/groups-crud.spec.ts
  e2e/specs/admin/roles-crud.spec.ts
  e2e/specs/admin/tenants-crud.spec.ts
  e2e/specs/admin/users-crud.spec.ts
Due: none

wip(e2e): add password and tenant fields to user create test
  diagnostics/build-20251026-074849-summary.txt
  e2e/specs/admin/users-crud.spec.ts
Due: none

fix(security): Critical environment configuration fixes
  .env
  .env.backup
  .env.example
  .env.template
  .gitignore
  DB_SEPARATE_USERS_PLAN.md
  Makefile
  SECURITY_CONFIG_AUDIT.md
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yml
  docker/docker-compose.yml
  scripts/env-validate.sh
Due: none

fix(grafana): Add missing Grafana DB credentials to .env.template
  .env.template
  SECURITY_CONFIG_AUDIT.md
  docker/docker-compose.yml
Due: none

docs(security): Update copilot-instructions with env vars and security rules
  .github/copilot-instructions.md
Due: none

fix(security): Remove ALL critical fallbacks from docker-compose.yml
  .env.template
  FALLBACKS_AUDIT.txt
  Makefile
  docker/docker-compose.yml
  scripts/env-validate.sh
Due: none

fix(nginx): Template-based config generation with build-time substitution
  .gitignore
  docker/docker-compose.yml
  docker/nginx/docker-entrypoint.sh
  docker/nginx/nginx-ssl.conf.template
  docker/nginx/nginx.conf
Due: none

fix(e2e): Fix E2E test failures and skip unimplemented features
  e2e/e2e/screenshots/auth-403-debug.png
  e2e/helpers/api.ts
  e2e/helpers/fixtures.ts
  e2e/helpers/login.ts
  e2e/package-lock.json
  e2e/package.json
  e2e/scripts/scaffold.ts
  e2e/specs/admin/groups-crud.spec.ts
  e2e/specs/admin/roles-crud.spec.ts
  e2e/specs/admin/tenants-crud.spec.ts
  e2e/specs/admin/users-crud.spec.ts
  e2e/specs/pre/05_workflow_runtime_smoke.spec.ts
  e2e/specs/pre/06_workflow_ux.spec.ts
  e2e/specs/pre/08_studio_rbac.spec.ts
Due: none

fix(e2e): Skip profile edit test and fix directory search
  e2e/specs/post/10_auth_profile_update.spec.ts
  e2e/specs/post/40_directory_consistency.spec.ts
Due: none

fix(e2e): Skip directory consistency test
  e2e/specs/post/40_directory_consistency.spec.ts
Due: none

fix(e2e): Skip recently updated badge test
  e2e/specs/post/10_auth_profile_update.spec.ts
Due: none

fix: Allow API-created groups without Keycloak sync
  backend/src/main/java/cz/muriel/core/entity/GroupEntity.java
  backend/src/main/java/cz/muriel/core/service/GroupService.java
  backend/src/main/resources/db/migration/V8__make_keycloak_group_id_nullable.sql
Due: naming-lint, backend-format-check

fix: V8 migration - use correct column name tenant_id
  backend/src/main/resources/db/migration/V8__make_keycloak_group_id_nullable.sql
Due: naming-lint

fix: Generate path field for API-created groups
  backend/src/main/java/cz/muriel/core/service/GroupService.java
Due: naming-lint, backend-format-check

fix: Correct Keycloak sync endpoint URL (status→progress)
  e2e/helpers/api.ts
Due: none

feat: Add AdminGroupsPage and fix Groups heading
  frontend/src/App.jsx
  frontend/src/components/Groups.jsx
  frontend/src/pages/Admin/AdminGroupsPage.tsx
  frontend/src/pages/Admin/index.ts
Due: naming-lint, frontend-lint

refactor: Simplify AdminGroupsPage, remove duplicate tenant selector
  frontend/src/components/Groups.jsx
  frontend/src/pages/Admin/AdminGroupsPage.tsx
Due: naming-lint, frontend-lint

feat(keycloak): Add admin-client to realm config + fix Makefile generation
  Makefile
  docker/keycloak/Dockerfile
  docker/keycloak/realm-admin.json
  docker/keycloak/realm-admin.template.json
  e2e/specs/admin/groups-crud.spec.ts
Due: none

feat(keycloak): Add init script for admin-client creation
  docker/keycloak/Dockerfile
  docker/keycloak/entrypoint.sh
  docker/keycloak/init-realm.sh
Due: none

fix(keycloak): Use kcadm.sh instead of curl/jq in init script
  docker/keycloak/init-realm.sh
Due: none

fix(keycloak): Improve init script health check
  docker/keycloak/entrypoint.sh
  docker/keycloak/init-realm.sh
Due: none

fix(keycloak): Use HTTP for internal kcadm.sh communication
  docker/docker-compose.yml
  docker/keycloak/init-realm.sh
Due: none

fix(keycloak): Pass KEYCLOAK_ADMIN_CLIENT_SECRET to container
  docker/docker-compose.yml
Due: none

Path conditions:
  naming-lint: any of: {backend/src/main/java/**/*.java,backend/src/main/resources/**/*.{sql,yml,yaml},frontend/src/**/*.{ts,tsx}}
  frontend-lint: any of: frontend/src/**/*.{ts,tsx,js,jsx}
  backend-format-check: any of: backend/src/**/*.java
  dashboard-structure: any of: docker/grafana/provisioning/dashboards/**/*.json
